<header class="site-header-minimal">
  <div class="header-container-minimal">

    <nav class="site-nav-minimal">
      <ul>
        <li><a href="{{ "/index" | relative_url }}">Blog</a></li>
        <li><a href="{{ "/portfolio" | relative_url }}">Portfólio</a></li>
        <li>
          <a href="https://github.com/fernandodxx" target="_blank" aria-label="GitHub">
            <i class="fa-brands fa-github">Github</i>
          </a>
        </li>
        <li>
          <a href="https://linkedin.com/in/fernando-santoss" target="_blank" aria-label="LinkedIn">
            <i class="fa-brands fa-linkedin">Linkedin</i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
