.rodape {
  background: var(--hd-ft-bg);
  color: var(--text);
  width: 100rm;
  font-size: 14px;
  font-family: helvetica;
  font-weight: bold;
  padding: 20px;
}

.rodape p {
  margin-bottom: 5px;
}




.rodape-direitos {
  width: 100%;
  margin: 0;
  text-align: center;
}
