body {
  background: var(--bg-primary);
  margin: 0;
  padding: 0; 
  overflow-x: hidden;
  color: var(--text);
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
}


main#main-content {
  flex: 1;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-weight: 600;
}

a {
  text-decoration: none;
  transition: color 0.2s;

  &:hover {
    color: var(--accent-hover);
  }
}
