:root {
  --home-bg:        #F8FAFC;
  --hd-ft-bg:       linear-gradient(135deg, #FFFFFF, #F1F5F9);
  --post-bg:        linear-gradient(135deg, #F1F5F9, #FFFFFF);
  --color-footer:   #E5E7EB;

  /* Cores de Texto */
  --title:          #1E293B;
  --text:           #475569;
  --text-post:      #334155;
  --header-title:   #2563EB;

  /* Cores de Destaque (Accent) */
  --accent:         #2563EB;
  --accent-hover:   #1D4ED8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --home-bg:        #0B0E11;
    --hd-ft-bg:       linear-gradient(135deg, #0B0E11, #1A1F26);
    --post-bg:        linear-gradient(135deg, #1A1F26, #0B0E11);
    --color-footer:   #111418;

    /* Cores de Texto */
    --title:          #F8FAFC;
    --text:           #CBD5E1;
    --text-post:      #E2E8F0;
    --header-title:   #E4E4E7;

    --accent:         #F4F4F5;
    --accent-hover:   #E4E4E7;
  } 
}
